@import url(../App.css);

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll !important;
  scroll-behavior: smooth;
}

#hero{
  width: 100vw;
  height: 50vh;
  margin-bottom: 50vh;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  z-index: 3;
}
.sectionTitle {
  margin-top: -0.6rem;
  font-size: 2.2rem;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
}