@import url(../App.css);

.hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
}

.heroBg {
    width: 31rem;
    filter: brightness( 0.4);
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    align-items: center;
    width: 100%;
    height: 100%;
}

.stars {
    width: 24rem;
    margin-bottom: 0.8rem;
}

.title {
    font-size: 5rem;
    font-weight: 800;
    background-image: var(--main-grad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    white-space: nowrap;
}

.subtitle {
    color: white;
    font-weight: 400;
    font-size: 1.6rem;
    white-space: nowrap;
}

.scrollHint {
    position: absolute;
    bottom: 2.4rem;
    left: 50%;
    transform: translateX(-50%);
}

.scrollHintChevron {
    display: block;
    opacity: 0.7;
}