@import url(../App.css);

#robotsBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: auto;
    z-index: 3;
    padding: 6.4rem 4rem;
    padding-top: 10rem;
}

.ourRobot{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: flex-start;
    align-items: flex-start;
}
.robot{
    width: 100%;
    display: flex;
    gap: 4rem;
    justify-content: flex-start;
    align-items: flex-start;
}
.robotImage{
    width: calc(40% - 4rem);
    border-radius: 0.4rem;
    object-fit: contain;
    background-image: url(../assets/logoItems/white-stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.robotDesc{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 1rem;
}
.robotDesc h3{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    margin-top: -0.6rem;

}
.robotDesc p{
    color: #cdcdcd;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.44;
}


@media (max-width: 955px) {

    .robotDesc h3{
        font-size: 1.8rem;
    }

    .robotDesc p{
        font-size: 1.4rem;
    }
}

@media (max-width: 758px) {

    .robot{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .robot{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .robotDesc{
        width: 100%;
    }
    .robotImage {
        width: 100%;
        aspect-ratio: 16/9;
    }
}