/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Carter+One&family=Chela+One&family=Dela+Gothic+One&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Fredericka+the+Great&family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&family=M+PLUS+Code+Latin:wght@100;200;300;400;500;600;700&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Nabla&family=Oi&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Rampart+One&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
font-family: 'Anton', sans-serif;
font-family: 'Carter One', cursive;
font-family: 'Chela One', cursive;
font-family: 'Dela Gothic One', cursive;
font-family: 'Encode Sans', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'M PLUS 1 Code', sans-serif;
font-family: 'M PLUS Code Latin', sans-serif;
font-family: 'Martian Mono', monospace;
font-family: 'Nabla', cursive;
font-family: 'Oi', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Rampart One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

/* ========== GLOBAL ========== */

:root {
    --main-color: #605ddc;
    --main-color-gradientStart: #605ddce6;
    --main-color-gradientEnd: #605ddc33;
    --white-color: #353535;
    --white-color-gradientStart: #353535e6;
    --white-color-gradientEnd: #35353533;
    --black-color: #f3f5f8;
    --black-color-gradientStart: #ffffffe6;
    --black-color-gradientEnd: #ffffff33;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black-color);
    background-size: auto 100%;
    background-position: right;
}

body {
    overflow: scroll;
    scrollbar-width: none;
    /* hide the scrollbar on Firefox */
    -ms-overflow-style: none;
    /* hide the scrollbar on Internet Explorer and Edge */
}

body::-webkit-scrollbar {
    display: none;
    /* hide the scrollbar on Chrome, Safari, and Opera */
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.01s ease;
}

main{
    min-height: 100vh;
}

/* ========== REGULAR HEADER ========== */

.regular-header {
    position: fixed;
    width: 86%;
    height: 8vh;
    top: 4vh;
    right: 7%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(150deg, var(--black-color-gradientStart), var(--black-color-gradientEnd));
    /* background: linear-gradient(150deg, #333333e6, #33333333); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 #ffffff0d, 0 6px 20px 0 #ffffff0d;
    /* box-shadow: 0 4px 8px 0 #0000000d, 0 6px 20px 0 #0000000d; */
    transition: all .2s ease;
    border-radius: 40px;
    overflow: hidden;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 4vh;
}

.logo i {
    color: var(--white-color);
    font-size: 1.8rem;
    transition: all .2s ease;
}

.logo span {
    color: var(--white-color);
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 8px;
    transition: all .2s ease;
}

.logo:hover i {
    color: var(--main-color);
    animation: rotate 3s linear;
}

.logo:hover span {
    color: var(--main-color);
}

.navbar {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 4vh;
}

.nav-btn {
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 3px;
    margin: 0px 30px;
    transition: all .2s ease;
}

.nav-btn.active {
    color: var(--main-color);
}

.nav-btn:hover {
    color: var(--main-color);
    animation: nav-up-bump 0.4s ease;
}

.social {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3vh;
    margin-top: 5px;
}

.soc-btn {
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding: 5px 3px;
    margin-right: 3vh;
    transition: all .2s ease;
}

.soc-btn.active {
    color: var(--main-color);
}

.soc-btn:hover {
    color: var(--main-color);
    animation: nav-up-bump 0.4s ease;
}

.burger-menu {
    display: none;
}

.burger-menu i {
    color: var(--white-color);
    font-size: 25px;
    margin-right: 4vh;
    transition: all .2s ease;
}

.burger-menu i:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 31.5px;
    cursor: pointer;
    z-index: 102;
}

.responsive-header {
    display: none;
}

/* ========== HEAD ========== */

#scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: #f3f5f8;
    font-size: 18px;
    text-align: center;
    border: none;
    z-index: 100;
    cursor: pointer;
    animation: float 3s ease-in-out infinite;
    animation-delay: 1s;
    overflow: hidden;
}

#scroll-to-top-btn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    transition: all 0.1s ease;
    animation-play-state: paused;
}

.home {
    overflow: hidden;
}

.intro {
    font-family: 'Poppins', sans-serif;
    color: #f3f5f8;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(0, -50%);
    z-index: 10;
}

.hello {
    display: block;
    position: relative;
    font-size: 36px;
    letter-spacing: 5px;
    color: var(--main-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37);
}

.hello::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: var(--main-color);
    animation: flash 1s linear infinite;
}

.intro h1 {
    display: block;
    font-size: 81px;
    font-weight: 800;
    color: #605ddc;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.we {
    display: block;
    font-size: 81px;
    font-weight: 800;
    color: var(--main-color);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.multitext {
    font-size: 85.5px;
    color: var(--main-color);
    text-transform: capitalize;
}

.wustl {
    margin-left: 0.5rem;
    font-size: 22.5px;
    color: var(--white-color);
    text-transform: capitalize;
}

.btns {
    width: 100%;
    height: 15vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner-btn {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--black-color);
    background: var(--main-color);
    /* background: linear-gradient(150deg, #ffffffe6, #ffffff33); */
    /* background: linear-gradient(150deg, #333333e6, #333333b3); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 8px 18px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    /* box-shadow: 0 5px 5px #ffffff4d; */
}

.banner-btn:hover {
    /* background: #605ddc; */
    filter: brightness(1.5);
}

.bg-rectangle {
    background: var(--black-color);
    width: 100%;
    height: 100vh;
    margin-top: -60px;
    position: relative;
    z-index: -100;
}

.robot-cube {
    position: absolute;
    top: 15%;
    right: 50px;
    height: 73vh;
    border-radius: 20%;
    transform: translate(0, -50%);
    opacity: 90%;
    max-width: 100%;
    z-index: -100;
    animation: float 3s ease-in-out infinite;
}

.robot-cube-glow {
    position: absolute;
    top: 15%;
    right: 50px;
    height: 73vh;
    border-radius: 20%;
    transform: translate(0, -50%);
    max-width: 100%;
    opacity: 0;
    animation: fade 3s ease-in-out infinite, float 3s ease-in-out infinite;
    z-index: -100;
}

/* ========== ABOUT US ========== */

#about-placeholder {
    height: 15vh;
    width: 100%;
    background-color: var(--black-color);
    margin-top: -18vh;
    position: relative;
    opacity: 0;
    z-index: 10;
    overflow: hidden;
}
#about{
    margin-bottom: 60px;
}

.about-title {
    font-size: 32px;
    color: var(--main-color);
    margin-top: 0px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-block {
    background-color: #fff;
    /* background-image: linear-gradient(160deg, #4158d0 0%, #C850C0 46%, #FFCC70 100%); */

    /* background-image: linear-gradient(170deg, #4158d04d 46%, #f3f5f84d 100%); */
    /* background: linear-gradient(240deg, rgba(243, 245, 248, 1), rgba(243, 245, 248, 0.5)); */
    /* background-image: linear-gradient(160deg, #4158d0 0%, #C850C0 100%); */
    border-radius: 20px;
    /* border-top: var(--white-color) 1px solid;
    border-bottom: var(--white-color) 1px solid; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 86%;
    height: auto;
    z-index: -100;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 80px;
    /* padding-top: 60px !important; */
    text-align: left;
}

.who-we-are {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 60px;
    margin-bottom: 60px;
}

.who-we-are:last-child {
    margin-bottom: 0;
}

.logo_circle {
    width: 30vw;
    height: auto;
    aspect-ratio: 1/1;
    background: var(--black-color);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 4px 8px #f3f5f814, 0 6px 20px 0 #f3f5f80f;
    border-radius: 25px;
    /* animation: shrink-and-grow 5s ease-in-out; */
    margin-left: -5%;
    opacity: 0;
}

.logo_img {
    width: 100%;
    height: 100%;
    background: url('./items/ursaworks_logo_star.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
}

.do_circle {
    width: 30vw;
    height: auto;
    background: var(--black-color);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 4px 8px #f3f5f814, 0 6px 20px 0 #f3f5f80f;
    border-radius: 25px;
    /* animation: shrink-and-grow 5s ease-in-out; */
    margin-left: -5%;
    opacity: 0;
}

.do_img {
    width: 100%;
    height: 100%;
    background: url('./items/robot_cropped.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
}

.logo_circle.appear {
    margin-left: 0;
    opacity: 1;
    transition: all 3s ease;
}

.do_circle.appear {
    margin-left: 0;
    opacity: 1;
    transition: all 2s ease;
}

.who-we-are-text {
    width: 70%;
    color: var(--white-color);
    font-weight: normal;
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 15px;
}

.text-block h1 {
    color: var(--main-color);
}

.text-block p {
    font-size: 20px;
    margin-bottom: 40px;
}

/* ========== RMUL ========== */

#rmul-placeholder {
    height: 15vh;
    width: 100%;
    background-color: var(--black-color);
    margin-top: -18vh;
    position: relative;
    opacity: 0;
    z-index: 10;
    overflow: hidden;
}

#rmul {
    overflow: hidden;
    margin-bottom: 60px;
}

.rmul-title {
    font-size: 32px;
    color: var(--main-color);
    margin-top: 0px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rmul-title.appear {
    opacity: 1 !important;
    margin-top: 0px;
    transition: all 4s ease;
}

.rmul-block {
    background-color: #fff;
    /* background-image: linear-gradient(160deg, #4158d0 0%, #C850C0 46%, #FFCC70 100%); */

    /* background-image: linear-gradient(170deg, #4158d04d 46%, #f3f5f84d 100%); */
    /* background: linear-gradient(240deg, rgba(243, 245, 248, 1), rgba(243, 245, 248, 0.5)); */
    /* background-image: linear-gradient(160deg, #4158d0 0%, #C850C0 100%); */
    border-radius: 20px;
    /* border-top: var(--white-color) 1px solid;
    border-bottom: var(--white-color) 1px solid; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 86%;
    height: auto;
    z-index: -100;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 80px;
    padding-top: 60px !important;
    padding-bottom: 20px !important;
    text-align: left;
}

.rmul-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 60px;
    margin-bottom: 60px;
}

.rmul-text {
    width: 100%;
    color: var(--white-color);
    font-weight: normal;
}

.rmul-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 15px;
}
.highlight{
    color:var(--main-color);
}

.rmul-text-block h1 {
    color: var(--main-color);
}

.rmul-text-block p {
    font-size: 20px;
    margin-bottom: 20px;
}
.rmul-btn {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--black-color);
    background: var(--main-color);
    /* background: linear-gradient(150deg, #ffffffe6, #ffffff33); */
    /* background: linear-gradient(150deg, #333333e6, #333333b3); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 8px 18px;
    margin-top:10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    /* box-shadow: 0 5px 5px #ffffff4d; */
}

.rmul-btn:hover {
    /* background: #605ddc; */
    filter: brightness(1.5);
}

/* ========== team ========== */

#team-placeholder {
    height: 15vh;
    width: 100%;
    background-color: var(--black-color);
    margin-top: -18vh;
    position: relative;
    opacity: 0;
    z-index: 10;
    overflow: hidden;
}

#team {
    overflow: hidden;
}

.team-title {
    font-size: 32px;
    color: var(--main-color);
    margin-top: 0px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-title.appear {
    opacity: 1 !important;
    margin-top: 0px;
    transition: all 4s ease;
}

.team-block {
    background-color: #fff;
    /* background-image: linear-gradient(160deg, #4158d0 0%, #C850C0 46%, #FFCC70 100%); */

    /* background-image: linear-gradient(170deg, #4158d04d 46%, #f3f5f84d 100%); */
    /* background: linear-gradient(240deg, rgba(243, 245, 248, 1), rgba(243, 245, 248, 0.5)); */
    /* background-image: linear-gradient(160deg, #4158d0 0%, #C850C0 100%); */
    border-radius: 20px;
    /* border-top: var(--white-color) 1px solid;
    border-bottom: var(--white-color) 1px solid; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 86%;
    height: auto;
    z-index: -100;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 80px;
    padding-top: 60px !important;
    padding-bottom: 20px !important;
    text-align: left;
}

.team-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    column-gap: 60px;
    margin-bottom: 30px;
}

.team_circle {
    width: 30vw;
    height: auto;
    aspect-ratio: 1/1;
    background: var(--black-color);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 4px 8px #f3f5f814, 0 6px 20px 0 #f3f5f80f;
    border-radius: 25px;
    margin-left: 0;
}
.team_img {
    width: 100%;
    height: 100%;
    background: url('./items/team_photo.JPEG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
}

.team-text {
    width: 100%;
    color: var(--white-color);
    font-weight: normal;
}

.team-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    row-gap: 15px;
}
.highlight{
    color:var(--main-color);
}

.team-text-block h1 {
    color: var(--main-color);
}

.team-text-block p {
    margin-bottom: 20px;
}

.person{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
}
.name{
    font-weight: 400;
}
.name, .position{
    white-space: nowrap;
    margin-left: 10px;
}

.team-btn {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--black-color);
    background: var(--main-color);
    /* background: linear-gradient(150deg, #ffffffe6, #ffffff33); */
    /* background: linear-gradient(150deg, #333333e6, #333333b3); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 8px 18px;
    margin-top:10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    /* box-shadow: 0 5px 5px #ffffff4d; */
}

.team-btn:hover {
    /* background: #605ddc; */
    filter: brightness(1.5);
}

/* ========== RECRUIT ========== */

#recruit-placeholder {
    height: 15vh;
    width: 100%;
    background-color: var(--black-color);
    margin-top: -18vh;
    position: relative;
    opacity: 0;
    z-index: 10;
    overflow: hidden;
}

#recruit {
    overflow: hidden;
    margin-top: 120px;
    margin-bottom: 60px;
}
.recruit-title:first-child{
    margin-top: 0px;
}
.recruit-title {
    font-size: 20px;
    color: var(--main-color);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recruit-title.appear {
    opacity: 1 !important;
    margin-top: 0px;
    transition: all 4s ease;
}

.recruit-block {
    background-color: #fff;
    /* background-image: linear-gradient(160deg, #4158d0 0%, #C850C0 46%, #FFCC70 100%); */

    /* background-image: linear-gradient(170deg, #4158d04d 46%, #f3f5f84d 100%); */
    /* background: linear-gradient(240deg, rgba(243, 245, 248, 1), rgba(243, 245, 248, 0.5)); */
    /* background-image: linear-gradient(160deg, #4158d0 0%, #C850C0 100%); */
    border-radius: 20px;
    /* border-top: var(--white-color) 1px solid;
    border-bottom: var(--white-color) 1px solid; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 86%;
    height: auto;
    z-index: -100;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 80px;
    padding-top: 60px !important;
    padding-bottom: 20px !important;
    text-align: left;
}

.recruit-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 60px;
    margin-bottom: 60px;
}

.recruit-text {
    width: 100%;
    color: var(--white-color);
    font-weight: normal;
}

.recruit-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 15px;
}
.recruit-text-block :last-child{
    margin-bottom: 40px;
}
.highlight{
    color:var(--main-color);
}

.recruit-text-block h1 {
    color: var(--main-color);
}

.recruit-text-block p {
    font-size: 20px;
    margin-bottom: 20px;
}
.recruit-btn {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--black-color);
    background: var(--main-color);
    /* background: linear-gradient(150deg, #ffffffe6, #ffffff33); */
    /* background: linear-gradient(150deg, #333333e6, #333333b3); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 8px 18px;
    margin-top:10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    /* box-shadow: 0 5px 5px #ffffff4d; */
}

.recruit-btn:hover {
    /* background: #605ddc; */
    filter: brightness(1.5);
}


/* ========== EVENTS ========== */

#event-placeholder {
    height: 15vh;
    width: 100%;
    background-color: var(--black-color);
    position: relative;
    overflow: hidden;
}

#events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    opacity: 0;
    overflow: hidden;
    text-align: center;
}

#events.appear {
    opacity: 1;
    margin-top: 0rem;
    transition: all 4s ease;
}

.event-section-title {
    font-size: 59px !important;
    color: var(--main-color);
}

#events h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 1;
}

.upcoming {
    margin-top: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    white-space: nowrap;
    width: 86%;
    gap: 40px 40px;
    overflow-x: scroll;
    border-radius: 10px;
}

.upcoming::-webkit-scrollbar {
    display: none;
}

.upcoming .story {
    height: auto;
}

.upcoming-event {
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 29%;
    min-height: 68vh;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 36px;
    opacity: 0.95;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
}

.upcoming-event iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: brightness(0.5);
    pointer-events: none;
}

.upcoming-event:hover iframe {
    filter: brightness(1);
}

.upcoming-event:hover .event-text {
    display: none;
}

.event-text {
    position: relative;
    z-index: 1;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.event-text h1 {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-title,
.date {
    color: #f3f5f8;
}

/* .upcoming-event:hover .date {
    color: var(--black-color);
}

.upcoming-event:hover .event-title {
    color: var(--black-color);
} */

/* ========== CONTACT US ========== */

#contact-placeholder {
    height: 10vh;
    width: 100%;
    background-color: var(--black-color);
    position: relative;
    overflow: hidden;
}

#contact {
    margin-bottom: 5vh;
    margin-top: 0rem;
    opacity: 0;
    overflow: hidden;
}

#contact.appear {
    opacity: 1;
    margin-top: 2rem;
    transition: all 4s ease;
}

.contact-title {
    font-size: 31.5px;
    color: var(--main-color);
    margin-top: 0;
    margin-bottom: 2%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-block {
    background-color: #f3f5f8;
    background: linear-gradient(90deg, var(--black-color-gradientStart), #f3f5f8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 86%;
    height: auto;
    border-radius: 20px;
    z-index: -100;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 60px;
    row-gap: 20px;
}

.contact-text {
    font-size: 22.5px;
    font-weight: 400;
    color: var(--white-color);
}

.contact-detail {
    font-size: 22.5px;
    font-weight: 200;
    color: var(--white-color);
}


/* ========== FOOTER ==========*/

footer {
    background-color: transparent;
    width: 100%;
    padding: 20px 0;
    text-align: flex-start;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #808080;
    font-size: 12.6px;
    overflow: hidden;
}

hr {
    width: 100%;
    border: 0.5px solid #808080;
    margin-bottom: 20px;
}

.footer-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
}

.footer-business {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer p {
    padding: 0;
}

footer a:hover {
    color: var(--white-color);
}

.footer-icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

}

.footer-icon a {
    font-size: 22.5px;
}

/* ========== RESPONSIVE LAYOUT ==========*/

@media (max-height: 500px) {
    #about-placeholder {
        height: 35vh;
        margin-top: -20vh;
    }
}

@media (max-width: 500px) {
    #about-placeholder {
        height: 5vh;
    }
    .about-block {
        padding: 40px 40px;
        border-radius: 20px;
    }
    .hello {
        font-size: 20px !important;
    }

    .hello::after {
        height: 3px;
        width: 25px;
        bottom: 8px;
    }

    .intro h1 {
        font-size: 45px !important;
        font-weight: 700;
    }

    .we {
        font-size: 45px !important;
        font-weight: 700;
    }

    .multitext {
        font-size: 45px !important;
    }

    .wustl {
        text-align: left;
        font-size: 12px !important;
        display:none;
    }

    .banner-btn {
        font-size: 12px !important;
        white-space: nowrap !important;
    }

    .text-block p{
        font-size: 15px !important;
    }
    .rmul-text-block p{
        font-size: 15px !important;
    }
    .rmul-btn{
        font-size: 15px !important;
        text-align: center;
    }
    .event-section-title{
        font-size: 30px !important;
    }
    .contact-title h1{
        font-size: 30px !important;
    }
    .contact-block{
        padding: 20px 20px !important;
        border-radius: 20px !important;
    }
    .contact-text{
        font-size: 15px !important;
    }
    .contact-detail{
        font-size: 15px !important;
    }
    .upcoming-event{
        width:100% !important;
    }

}

@media (max-width: 768px) {

    .robot-cube-glow,
    .robot-cube {
        height: auto;
        z-index: -100;
    }

    .intro {
        width: 84%;
    }

    .hello {
        font-size: 40px;
    }

    .hello::after {
        height: 3px;
        width: 25px;
        bottom: 8px;
    }

    .intro h1 {
        font-size: 50px;
        font-weight: 700;
    }

    .we {
        font-size: 90px;
        font-weight: 700;
    }

    .multitext {
        font-size: 90px;
    }

    .wustl {
        text-align: left;
        font-size: 12px;
        display:none;
    }

    .banner-btn {
        font-size: 25px;
        white-space: nowrap;
    }

    .upcoming-event{
        width: 70%;
    }

}

@media (max-width: 1024px) {

    .navbar {
        display: none;
    }

    .social {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    /* responsive header */

    .responsive-header {
        position: fixed;
        top: 15%;
        right: -190%;
        left: 0;
        margin: auto;
        width: 86%;
        z-index: 100;
        height: auto;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0;
        border-radius: 40px;
        transition: all .6s ease;
    }

    .responsive-header .open {
        display: absolute;
        margin: 25px auto;
        right: 0%;
    }

    .res-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
    }

    .res-nav-btn {
        color: var(--white-color);
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        padding: 5px 3px;
        margin-top: 15px;
        transition: all .2s ease;
    }

    .res-nav-btn.active {
        color: var(--main-color);
    }

    .res-nav-btn:hover {
        color: var(--main-color);
    }

    .res-soc {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px auto;
    }

    .res-soc-btn {
        color: var(--white-color);
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        padding: 5px 3px;
        margin: auto 10px;
        transition: all .2s ease;
    }

    .res-soc-btn.active {
        color: var(--main-color);
    }

    .res-soc-btn:hover {
        color: var(--main-color);
        animation: nav-up-bump 0.4s ease;
    }

    /* ---------- */

    .robot-cube-glow,
    .robot-cube {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    /* ---------- */

    .about-block {
        padding: 40px 40px;
    }
    .who-we-are{
       flex-direction: column;
       row-gap: 30px;
    }
    .logo_circle{
        width: 100%;
        height: 200px;
    }
    .do_circle{
        width: 100%;
        height: 200px !important;
    }
    .who-we-are-text{
        width: 100%;
    }

    /* ---------- */

    .rmul-block {
        padding: 40px 40px;
    }

    .upcoming-event{
        width: 40%;
    }

    .footer-text {
        margin-top: 8px;
    }

    .footer-content {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        margin: auto;
    }

    .footer-icon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-icon a {
        margin-left: 8px;
    }
}

@media (max-width: 1366px) {
    .upcoming-event{
        width: 40%;
    }
}

/* ========== ANIMATION ========== */

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.95;
    }

    100% {
        opacity: 0;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    71% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes nav-up-bump {
    0% {
        padding-top: 5px;
    }

    50% {
        padding-top: 0px;
    }

    100% {
        padding-top: 5px;
    }
}

@keyframes shrink-and-grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.90);
    }

    100% {
        transform: scale(1);
    }
}